/* VARIABLES */

:root {
    --brown: #5f3b23;
    --lila: #dee3f4;
    --mint: #e5f3f2;
    --darkgrey: #585858;
    --lightgrey: #f3f3f3;

    --highlight: #e5f3f2;
    --shadow: #5f3b23;

    --forma: 'forma-djr-deck';
    --text: 'Arial';
    --serif:'Editorial New';
}

/* FONTS */

@font-face {
    font-family: 'Editorial New';
    src:url('EditorialNew-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* BASICS */


html, body {
	background-color: white;
  scroll-behavior: smooth;
}

body {
  width:100%;
  height: 100%;
  word-break: break-word;
  /* overflow-y: hidden; */
  text-decoration: none;
  overflow-x: hidden;
}

/*////////////////////////////////*/
/* INPUT FIELD ANIMATION */
/*////////////////////////////////*/
.box {
	width: 94vw;
	height: 24vw;
	position:relative;
	display: block;
	margin: 3vw;
}

.box img{
	width: 94vw;
}
/* Version with deleting*/

.blink {
  animation: blink 0.5s infinite;
  display: none;
}

@keyframes blink{
  to { opacity: .0; }
}

.flex {
	display: flex;
}

.header-sub-title {
	margin-top: -32vw;
	padding-left: 0%;
	padding-top: 1%;
  color: black;
  font-family: sans-serif;
  font-size: 8vw;
}

#placeholder {
	color: #9a9a9a;
	display: inline-block;
}

#cursor {
	color: black;
}


/* Version with blinking cursor */

/*
.titles{
	font-size: 10vw;
	font-family: Arial;

}

[data-typer]:after {
  content:"";
  display: inline-block;
  vertical-align: middle;
  width:1px;
  height:1em;
  background: #000;
          animation: caretPulsate 1s linear infinite;
  -webkit-animation: caretPulsate 1s linear infinite;
}
@keyframes caretPulsate {
  0%   {opacity:1;}
  50%  {opacity:1;}
  60%  {opacity:0;}
  100% {opacity:0;}
}
@-webkit-keyframes caretPulsate {
  0%   {opacity:1;}
  50%  {opacity:1;}
  60%  {opacity:0;}
  100% {opacity:0;}
} */


/*////////////////////////////////*/
/* TABLE OF CONTENT */
/*////////////////////////////////*/

div.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 20px;
  margin-top: 15%;
  height: 10vw;
  width: 100%;
  font-size: 8vw;
  z-index: 30;
  display: none;
}

.arenalink{
  width: 20%;
  height: 100%;
  margin-left: 3%;
  position: absolute;
	display: block;
  padding-top: 3%;
  /* margin-top: 40%; */
  font-size: 8vw;

}

.menu{
  width: 30%;
  height: 100%;
  margin-left: 67%;
  position: absolute;
	display: block;
  padding-top: 3%;
  font-size: 8vw;
}

/*////////////////////////////////*/
/* TYPOGRAPHY */
/*////////////////////////////////*/

.epigraph {
    font-size: 8vw;
		font-family: var(--serif);
    font-weight: normal;
    font-style: normal;
		text-align: center;
		/* transform: skew(12deg); */
		margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 0;
    position: relative;
    display: none;
}

p{
  font-size: 2.5vw;
    color: black;
    margin-left: 3%;
    margin-right: 3%;
		font-family: var(--text);
}

h2 {
  margin-top: 200%;
	font-family: var(--forma);
  line-height: 95%;
	font-size: 12vw;
	font-weight: 500;
  text-align: center;
}

.transform {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.bigmargin {
  margin-top: 0%;
}

h4 {
  font-size: 2vw;
    color: black;
}

h6 {
  font-size: 1vw;
  color: black;
}

figcaption {
  font-family: var(--serif);
    font-size: 1.5vw;
    text-align: center;
    color: var(--brown);
}

figure {
}

/*////////////////////////////////*/
/* EMBED */
/*////////////////////////////////*/
#iframe{
  width:20%;
}


/*BLOCKQUOTES
They are supposed to be reminiscent of Are.na's text blocks*/
 blockquote{
   align-items: center;
   background-color: white;
   border: 5px solid var(--lightgrey);

   overflow-x: scroll;
   width: 800px;
   height: 800px;
   display:inline-block;
   position: relative;
   font-size: 2.5vw;
   padding-left: 2%;
 }

 .blockquote{
   font-size: 4.5vw;
   color: var(--darkgrey);
 }


/* IMAGES
General images has to be full width, but later the embeds and are.na screenshots have to be smaller or different in some way  */
img {
  width: 100%;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.container::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--highlight);
  mix-blend-mode: darken;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.container::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--shadow);
  mix-blend-mode: lighten;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}


/*////////////////////////////////*/
/* FOOTNOTES */
/*////////////////////////////////*/


  .footnote-ref a{
    text-decoration: none;
    color: var(--brown);
    background-color: var(--lila);
    padding: 0rem 2rem;
    border-radius: 10px;
    vertical-align:middle;

  }

  .reversefootnote {
    display: none;
  }

  .bottom-panel {
    position: fixed;
    font-size:3rem;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }

  .popup-wrapper {
    display: none;
    font-size:4rem;

    max-width: 100%;
    margin: 0 auto;
    color: black;
    background-color: var(--lila);
    border-top: 3px solid var(--brown);
    z-index: 55;
  }

  #popup-index {
    padding: 1.25rem 0 0 1.25rem;
    z-index: 5;
  }

  #popup-close {
    padding: 1.25rem;
    margin-left: auto;
    cursor: pointer;
    z-index: 5;
  }

  #popup-content {
    font-size:4rem;
    min-width: 50%;
    text-align: left;
    padding: 1.25rem 0 1.25rem 0.9rem;
  }
  ol{
    display: none;
  }
