/* VARIABLES */

:root {
    --brown: #5f3b23;
    --lila: #dee3f4;
    --mint: #e5f3f2;
    --darkgrey: #585858;
    --lightgrey: #f3f3f3;

    --highlight: #e5f3f2;
    --shadow: #5f3b23;

    --forma: 'forma-djr-deck';
    --text: 'Arial';
    --serif:'Editorial New';
}

/* FONTS */

@font-face {
    font-family: 'Editorial New';
    src:url('EditorialNew-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* BASICS */


html, body {
	background-color: white;
  scroll-behavior: smooth;
}

body {
  width:100%;
  height: 100%;
  word-break: break-word;
  overflow-y: hidden;
  text-decoration: none;
  overflow-x: hidden;
}

.scroll-element {
  scroll-margin: 50px 0 0 500px;
}


/*////////////////////////////////*/
/* INPUT FIELD ANIMATION */
/*////////////////////////////////*/
.box {
	width: 94vw;
	height: 24vw;
	position:relative;
	display: block;
	margin: 3vw;
}

.box img{
	width: 94vw;
}
/* Version with deleting*/

.blink {
  animation: blink 0.5s infinite;
  display: none;
}

@keyframes blink{
  to { opacity: .0; }
}

.flex {
	display: flex;
}

.header-sub-title {
	margin-top: -32vw;
	padding-left: 0%;
	padding-top: 1%;
  color: black;
  font-family: sans-serif;
  font-size: 8vw;
}

#placeholder {
	color: #9a9a9a;
	display: inline-block;
}

#cursor {
	color: black;
}

/*////////////////////////////////*/
/* TABLE OF CONTENT */
/*////////////////////////////////*/

div.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 20px;
  margin-top: 15%;
  height: 10vw;
  width: 100%;
  font-size: 8vw;
  z-index: 30;
  display: none;
}

.arenalink{
  width: 20%;
  height: 100%;
  margin-left: 3%;
  position: absolute;
	display: block;
  padding-top: 3%;
  /* margin-top: 40%; */
  font-size: 8vw;
}

.menu{
  width: 30%;
  height: 100%;
  margin-left: 67%;
  position: absolute;
	display: block;
  padding-top: 3%;
  font-size: 8vw;
}

.menu-chapter{
  width:110%;
  margin-left: -5%;
  height:200px;
  display:none;
  font-family: var(--forma);
  font-size: 7vw;
  line-height: 100%;
  z-index: 100;
  text-decoration: none;
  text-align: center;
  bottom: 0;
  border-top: 4px solid var(--brown);

}

.menu-chapter-1{
  position: fixed;
  background-color:var(--lila);
  color: var(--brown);
  margin-top: 0px;
  margin-bottom: 1000px;
}

.menu-chapter-2{
  position: fixed;
  background-color:var(--lila);
  color: var(--brown);
  margin-top: 0px;
  margin-bottom: 800px;
}

.menu-chapter-3{
  position: fixed;
  background-color:var(--lila);
  color: var(--brown);
  margin-top: 0px;
  margin-bottom: 600px;
}

.menu-chapter-4{
  position: fixed;
  background-color:var(--lila);
  color: var(--brown);
  margin-top: 0px;
  margin-bottom: 400px;
}

.menu-chapter-5{
  position: fixed;
  background-color:var(--lila);
  color: var(--brown);
  margin-top: 0px;
  margin-bottom: 200px;
}

.menu-chapter-6{
  position: fixed;
  background-color:var(--lila);
  color: var(--brown);
  margin-top: 0px;
  margin-bottom: 0px;
}

.menu-chapter-text{
  position: absolute;
  z-index: 100;
  text-align: center;
  color: var(--brown);
  vertical-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

/*////////////////////////////////*/
/* TYPOGRAPHY */
/*////////////////////////////////*/

.epigraph {
    font-size: 8vw;
		font-family: var(--serif);
    font-weight: normal;
    font-style: normal;
		text-align: center;
		/* transform: skew(12deg); */
		margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 0;
    position: relative;
    display: none;
}

p{
  font-size: 2.5vw;
    color: black;
    margin-left: 3%;
    margin-right: 3%;
		font-family: var(--text);
}

h2 {
  padding-top: 150px;
  margin-top: 200%;
  margin-bottom: 6%;
	font-family: var(--forma);
  line-height: 95%;
	font-size: 12vw;
	font-weight: 500;
  text-align: center;
}

.transform {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.bigmargin {
  margin-top: 0%;
}

h4 {
  font-size: 2vw;
    color: black;
}

h6 {
  font-size: 1vw;
  color: black;
}

figcaption {
  font-family: var(--serif);
    font-size: 1.5vw;
    text-align: center;
    color: var(--brown);
    margin-left: 5%;
    margin-right: 5%;
}

figure {
}

/*////////////////////////////////*/
/* TABLE */
/*////////////////////////////////*/

table {
  margin-left: 3vw;
  margin-right: 3vw;
}

tbody{
  vertical-align: top;
}

td{
  padding-bottom: 20px;
  vertical-align: top;
}

th{
  padding-bottom: 20px;
}


.col1{
  margin-left: 3vw;
  width: 40vw;
}

.col2{
  margin-left: 3vw;
  width: 30vw;
}
.col3{
  margin-left: 3vw;
  width: 30vw;
}

.table-title {
  margin-left: 3vw;
  font-family: var(--forma);
  font-size: 5vw;
}

.table-title-center {
  text-align: center;
}

.table-title-left {
  text-align: left;
}

.table-text {
  height: 100px;
  margin-left: 3vw;
  font-family: var(--text);
  font-size: 4vw;
}

.table-title-small {
  font-family: var(--forma);
  text-align: center;
  line-height: 95%;
  font-size: 4vw;
}

/*////////////////////////////////*/
/* EMBED */
/*////////////////////////////////*/
iframe{
  width:100%;
  height: 500px;
  /* transform: scale(1.5); */
}


/*BLOCKQUOTES
They are supposed to be reminiscent of Are.na's text blocks*/
 blockquote{
   align-items: center;
   background-color: white;
   border: 5px solid var(--lightgrey);

   overflow-x: scroll;
   width: 800px;
   height: 800px;
   display:inline-block;
   position: relative;
   font-size: 2.5vw;
   padding-left: 2%;
 }

 .blockquote{
   font-size: 4.5vw;
   color: var(--darkgrey);
 }


/* IMAGES
General images has to be full width, but later the embeds and are.na screenshots have to be smaller or different in some way  */
img {
  width: 100%;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.container::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--highlight);
  mix-blend-mode: darken;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.container::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--shadow);
  mix-blend-mode: lighten;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.grayborder {
  border: 6px solid var(--lightgrey);
}


/*////////////////////////////////*/
/* FOOTNOTES */
/*////////////////////////////////*/



.footnote-ref a{
  text-decoration: none;
  color: var(--lila);
  background-color: var(--lila);
  padding: 0rem 4rem;
  border-radius: 10px;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 0px;

}

.reversefootnote {
  display: none;
}

.bottom-panel {
  position: fixed;
  font-size:3rem;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: red;
}

.popup-wrapper {
  /* font-size:4rem; */
  max-width: 100%;
  bottom: 0;
  margin: 0 auto;
  color: black;
  background-color: var(--lila);
  border-top: 4px solid var(--brown);
  z-index: 55;
}

.note{
  font-family: var(--serif);
  font-weight: normal;
  font-style: normal;
  text-align: left;
  margin-left: 0%;
  font-size: 4vw;
  margin-left: 3%;
  color: var(--brown);

}

#popup-index {
  display: none;
  padding: 1.25rem 0 0 1.25rem;
  z-index: 5;
}

#popup-close {
  display: none;
  padding: 1.25rem;
  margin-left: auto;
  cursor: pointer;
  z-index: 5;
}

#popup-content {

}

ol{
  display: none;
}

.svg-filter {
  display: none;
}

.final-text{
  width: 100%;

  padding-top: 30%;
  padding-bottom: 10%;

}

.name {
  font-family: var(--forma);
   float: left;
   font-size: 4vw;
}

.date {
  font-family: var(--forma);
  float: right;
  font-size: 4vw;
}
